// reset

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

// custom variables

$clr-primary: rgb(123, 123, 123);
$clr-secondary: rgb(230, 235, 90);
$clr-ternary: rgb(250, 250, 249);

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// stars-container

.stars-container {
    min-height: 10rem;
    min-width: 20rem;
    border: 0.3rem solid $clr-primary;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &::before {
        content: '';
        display: block;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $clr-ternary;
        z-index: -1;
    }
}

// star

.star {
    display: block;
    min-width: 3rem;
    min-height: 3rem;
    position: relative;
    z-index: 1;
    clip-path: polygon(20% 100%, 30% 60%, 0 40%, 35% 40%, 50% 0, 65% 40%, 100% 40%, 70% 60%, 80% 100%, 50% 80%);
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        background-image: linear-gradient(to right, $clr-secondary 50%, $clr-primary 50%);
        background-size: 200%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        transition-property: background;
        transition-duration: 2s;
        transition-timing-function: linear;
        z-index: -1;
    }

}

// star-active

.star-active {

    &::after {
        background-position-x: 0%;
    }

    &:nth-child(5)::after {
        background-position-x: 50%;
    }
}